.topPage
  .topPage__top
    .topPage__top__title
      VUCAMP
  
  .topPage__main
    .topPage__main__centerBtn
      .topPage__main__centerBtn__title
        .topPage__main__centerBtn__title__top
          SEARCH
        .topPage__main__centerBtn__title__under
          CAMP場を探す


.campIndex
  .campIndex__box
    - @camps.each do |camp| 
      .campIndex__box__name
        = camp.campName
      .campIndex__box__address
        = camp.address
      .campIndex__box__capacity
        = camp.capacity
      .campIndex__box__price
        = camp.price
      .campIndex__box__level
        = camp.level
      .campIndex__box__workHour
        = camp.workHour


.goNewPage
  = link_to new_camp_path do
    CAMP場登録へ