= render 'top/header'

.newPage
  .newPage__title
  .newPage__formbox
    = form_for @camp do |f|
      .newPage__formbox__campname
        .newPage__formbox__campname__title
          = f.label :title, "キャンプ場の名前"
        .newPage__formbox__campname__form
          = f.text_field :campName, placeholder: "キャンプ場"
      .newPage__formbox__address
        .newPage__formbox__address__title
          = f.label :title, "住所"
        .newPage__formbox__address__form
          = f.text_field :address, placeholder: "住所"
      .newPage__formbox__capacity
        .newPage__formbox__capacity__title
          = f.label :title, "所要人数"
        - @capas = "ソロ ファミリー グループ".split
        .newPage__formbox__capacity__form
          - @capas.each do |capa|
            = f.check_box :capacity, {multiple: true}, capa, nil 
            = capa
      .newPage__formbox__price
        .newPage__formbox__price__title
          = f.label :title, "価格帯"
        .newPage__formbox__price__form
          = f.select :price, [["---", "不明"],["¥0", "¥0"],["¥1~¥2000", "¥1~¥2000"],["¥2,001~¥5,000", "¥2,001~¥5,000"],["¥5,001~10,000", "¥5,001~10,000"],["¥10,001~", "¥10,001~"]]
      .newPage__formbox__workhour
        .newPage__formbox__workhour__title
          = f.label :title, "営業時間"
        .newPage__formbox__workhour__form
          .newPage__formbox__workhour__form__time
            = f.time_select :checkin, { include_blank: true, placeholder: "check-in" }
            〜
          .newPage__formbox__workhour__form__time
            = f.time_select :checkout, { include_blank: true, placeholder: "check-out" }
      .newPage__formbox__nearstore
        = f.fields_for :nearStores do |store|
          .newPage__formbox__nearstore__title
            = store.label :title, "近接設備"
          .newPage__formbox__nearstore__form
            = store.text_field :storeName, placeholder: "コンビニ、温泉"
      .newPage__formbox__level
        .newPage__formbox__level__title
          = f.label :title, "難易度"
        .newPage__formbox__level__form
          = f.select :level, [["---", 0],["★★★★★", 5],["★★★★", 4],["★★★", 3],["★★", 2],["★", 1]]
      .newPage__formbox__image
        = f.fields_for :images do |image|
          .newPage__formbox__image__title
            = image.label :title, "写真"
          .newPage__formbox__image__form
            = image.file_field :image, placeholder: "写真"
      .newPage__formbox__createbtn
        = f.submit "登録", class: ".newPage__formbox__createbtn__btn"

= render 'top/footer'