= render 'top/header'

.campShow
  .campShow__box
    .campShow__box__images
      - @camp.images.each do |image|
        = image_tag image.image.to_s
    .campShow__box__campName
      = @camp.campName
    .campShow__box__address
      = @camp.address
    .campShow__box__capacity
      = @camp.capacity
    .campShow__box__price
      = @camp.price
    .campShow__box__level
      = @camp.level
    .campShow__box__workHour
      = @camp.workHour
  .campShow__btn
    .campShow__btn__return
      = link_to root_path do
        TOPへ

= render 'top/footer'