.show
  .show__title
    .campIndex__box
      .campIndex__box__name
        = @camp.campName
      .campIndex__box__address
        = @camp.address
      .campIndex__box__capacity
        = @camp.capacity
      .campIndex__box__price
        = @camp.price
      .campIndex__box__level
        = @camp.level
      .campIndex__box__workHour
        = @camp.workHour